<!DOCTYPE html>
<html>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link rel="stylesheet" href='/static/style.css' />
  </head>
    
  <div id="clock1" class="clock" style="text-align:center;"></div>
  <div style="text-align:center;">
    <img src="{{url_for('static', filename='fsae-logo.png')}}" alt="My test image" allign="middle">
  </div>
  <div class="container" style="display: flex">
    <div class="box" style="width: 50%; flex-grow: 1; height: 500px;">
      <div id="test_id" style="text-align:center;"></div>
      <table class="can_data_table" id="can_data_table"></table>
    </div>
  </div>

  <script type="text/javascript">

    function digitalClock()
    {
      var date=new Date();

      var h=date.getHours();
      var m=date.getMinutes();
      var s=date.getSeconds();
      var ms=date.getMilliseconds();

      var separator = ":"

      document.getElementById("clock1").innerHTML=h+separator+m+separator+s+separator+ms;

      setTimeout(digitalClock, 1000);
    }

    digitalClock();

  </script>

  <script type="text/javascript">
    var socket = io();

    function test() 
    {
      socket.emit('display_test');

      setTimeout(test, 500);
    }

    socket.on('test_response', function(data)
    {
      document.getElementById("test_id").innerHTML=data["time"] + ":" + data["text"];
      
      var tableHeaders=data['tableHeaders'];
      var tableData=data['tableData'];

      var tableHeadersHTML = "";

      tableHeadersHTML = tableHeadersHTML + '<tr class="can_data_tr">'
      tableHeadersHTML = tableHeadersHTML + '<th class="can_data_th">' + tableHeaders['time'] + '</th>'
      tableHeadersHTML = tableHeadersHTML + '<th class="can_data_th">' + tableHeaders['bus'] + '</th>'
      tableHeadersHTML = tableHeadersHTML + '<th class="can_data_th">' + tableHeaders['id'] + '</th>'
      tableHeadersHTML = tableHeadersHTML + '<th class="can_data_th">' + tableHeaders['data'] + '</th>'
      tableHeadersHTML = tableHeadersHTML + '<tr>'

      for(i=0; i<tableData.length; i++)
      {
        var textColor = 'black';

        if(tableData[i]['recieved_since_last_print'])
        {
          textColor = 'black'
        }
        else
        {
          textColor = '#aaaaaa'
        }

        tableHeadersHTML = tableHeadersHTML + '<tr class="can_data_tr">'
        tableHeadersHTML = tableHeadersHTML + '<td class="can_data_td">' + '<font color=' + textColor + '>' + tableData[i]['timestamp'] + '</font>' + '</td>'
        tableHeadersHTML = tableHeadersHTML + '<td class="can_data_td">' + '<font color=' + textColor + '>' + tableData[i]['bus'] + '</font>' + '</td>'
        tableHeadersHTML = tableHeadersHTML + '<td class="can_data_td">' + '<font color=' + textColor + '>' + tableData[i]['id'] + '</font>' + '</td>'

        tableHeadersHTML = tableHeadersHTML + '<td class="can_data_td">'
        for(j=0; j<tableData[i]['data'].length; j++)
        {
          if(tableData[i]['data'][j][0])
          {
            tableHeadersHTML = tableHeadersHTML + '<font color=black>' + tableData[i]['data'][j][1] + ' ' + '</font>'
          }
          else
          {
            tableHeadersHTML = tableHeadersHTML + '<font color=#AAAAAA>' + tableData[i]['data'][j][1] + ' ' + '</font>'
          }
          
        }
        tableHeadersHTML = tableHeadersHTML + '</td>'

        tableHeadersHTML = tableHeadersHTML + '<tr>'
      }

      document.getElementById("can_data_table").innerHTML=tableHeadersHTML;
      
    });

    test();

  </script>

</html>